{% extends 'base.html' %}

{% block title %}
    Categorías
{% endblock %}

{% block content %}

<h1>Categorías de Productos</h1>

<p>Consulta las diferentes categorías disponibles en nuestra tienda.</p>

<div class="tarjetas">

    {% for categoria in categorias %}

    <div class="tarjeta">

        <h2>{{ categoria.nombre }}</h2>

        <p>
            <strong>ID:</strong> {{ categoria.id }}
        </p>

        <p>
            {{ categoria.descripcion }}
        </p>

    </div>

    {% endfor %}

</div>

{% endblock %}
